In [1]:
# 查看此环境的kernel
import sys
sys.executable

'/Users/tongli/opt/anaconda3/envs/tensorflow_env/bin/python'

In [5]:
import pymysql
db = pymysql.connect(host='localhost', user='root',password='password',database='learn_python')
# 创建游标cursor 
cursor = db.cursor() 
# 使用 cursor.execute() 方法执行 SQL 查询
cursor.execute("SELECT VERSION()")  # 数据库版本
# 用fetchone返回结果
data = cursor.fetchone()
print ("Database version : %s " % data)
# 关闭数据库
db.close()

Database version : 8.0.20

In [8]:
# 创建表格
import pymysql
db = pymysql.connect(host='localhost', user='root',password='password',database='learn_python')
cursor = db.cursor()
# 使用预处理语句创建表
sql = """CREATE TABLE STUDENT ( FIRST_NAME  CHAR(20) NOT NULL,
         LAST_NAME  CHAR(20),
         AGE INT,  
         SEX CHAR(1),
         INCOME FLOAT )"""
cursor.execute(sql)
db.close()

In [20]:
# 插入数据
import pymysql
db = pymysql.connect(host='localhost', user='root',password='password',database='learn_python')
cursor = db.cursor()

# 插入数据语句
sql = "INSERT INTO STUDENT(FIRST_NAME,LAST_NAME, AGE, SEX, INCOME)VALUES ('lisa', 'Mohan', 20, 'M', 2000)"
try:
    cursor.execute(sql)
    # 提交语句 增删改都需要commit().查不需要
    db.commit()
except:
    # 发送错误，回滚
    db.rollback()
db.close()

In [22]:
# 插入数据
import pymysql
db = pymysql.connect(host='localhost', user='root',password='password',database='learn_python')
cursor = db.cursor()

# 查询数据语句
sql = "SELECT * FROM STUDENT WHERE INCOME > %s"%1000
try:  
    cursor.execute(sql)

    # 得到查询结果
    results = cursor.fetchall()
    print (results)
except:
    print('查询错误')
db.close()

(('lisa', 'Mohan', 20, 'M', 2000.0), ('lisa', 'Mohan', 20, 'M', 2000.0), ('lisa', 'Mohan', 20, 'M', 2000.0))